/* =============== D  E  S  C  T  O  P     L A R G E ==================== */
@media (min-width:1700px){
	#top_menu {
		//line-height: 3.9vw;;
	}

	.home .left-col, .left-col .has-feedback {
		padding-right: 0;
	}

	    
	.home .logo {
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;        
	}

	.about .item-container {
		cursor: pointer;
		-moz-transition: all 0.6s ease-out;
		-o-transition: all 0.6s ease-out;
		-webkit-transition: all 0.6s ease-out;        
	}
	.about .item-container:hover { 
			background: #37be00;
	        -webkit-transform: scale(1.1);
	        -moz-transform: scale(1.1);
	        -o-transform: scale(1.1);
	}
}

/* ========================= D  E  S  C  T  O  P ==================== */
@media (min-width:992px) and (max-width: 1699px){
	.navbar-brand {
		padding-left: 15px;
	}
	.home .logo {
       
	}
	.home .left-col, .left-col .has-feedback {
		padding-right: 0;
	}
	.home .captcha {	    
	    width: 100%;
	}
	.home .captcha .has-feedback {
	    width: auto;
	}
	.home .captcha .right {
	    padding-left: 0;
	    width: 50%;
	}


	.about .item-container {
		cursor: pointer;
		-moz-transition: all 0.6s ease-out;
		-o-transition: all 0.6s ease-out;
		-webkit-transition: all 0.6s ease-out;        
	}
	.about .item-container:hover {  
		background: #37be00;      
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
	}

}
/* ============================= T A B L E T ======================== */
@media (min-width:768px) and (max-width: 991px){
	.navbar-brand {
		padding-left: 15px;
	}
	.home .sumbit { 
		max-width: 46%;
	}
	.home .level-3 h3 {
		font-size: 3.8vw;
	}
	.home .captcha .has-feedback {
		width: auto;
		padding-left: 29px;
	}
	.home .captcha {
		width: 100%;
	}
	.home .captcha .right {    
    	width: 42%;
    }
    .home .sumbit { 
    	max-width: 100%;
    }
    .home .level-5 form .row .row, .home .has-feedback, .home .left-col {
	    padding-bottom: 0!important;
	}
	.home .level-5 form input, .home .level-5 form textarea {
		border: solid 1px #ccc;
	}

}

/* ============================ M  O  B  I  L  E ==================== */
@media (max-width:767px){ 

	.header .level-1 {
	  border-bottom: solid 0.3vw #000;
	}
	#top_menu {
		padding-left: 0;
		line-height: 27px;	
		text-align: center;
		width: 100%;
	}
	#top_menu a {	  
	  font-size:1.4em;
	}
	#top_menu li {
		border-bottom: solid 1px #ccc;
	}
	.menu li.active, .menu li:hover {
	  	border-bottom: 1px solid #37be00;
	}
	.navbar-collapse, .navbar-collapse ul, .navbar-collapse li {
	    box-sizing: border-box;
	    margin: 0 auto !important;
	    padding: 0;
	    width: 100%;
	}
		
	.header .level-1 div img {
		display: block;
		float: none !important;
		margin: 0 auto;
		padding: 0;
		width: 40%;
	}


	.home .logo {
		background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll center 0 / cover ;
	    height: 22vw;
	    min-height: 9em;
	    padding: 0;
	}
	.home .level-2 h1 {
	    color: #002866;
	    display: none;
	    font-family: harabara;
	    font-size: 2.1em !important;
	    font-weight: normal;
	    left: 0;
	    margin: 0 auto;
	    position: relative;
	    text-transform: none;
	    text-shadow: 2px 2px 2px #fff;
	    top: 0;
	    width: 90%;
	}


	.home .level-3 h3 {
	    color: #012966;
	    display: inline;
	    font-family: Harabara;
	    font-size: 2.7em;
	    margin: 0 5px 0 0;
	    position: relative;
	}
	.home .level-3 .green_arrow {
	    color: #37be00;
	    font-family: harabara;
	    font-size: 2em;
	    font-weight: 900;
	    position: relative;
	}
	.home .level-3 p, .home .level-3 li, .home .level-3 li a  {
	    font-size: 1em !important
	}
	.home .level-3 {
		width: 100%;
		text-align: justiffed;
		padding: 0;
	}
	.home .level-3 div {
		text-align: justify;
	}
	
	.home .level-3 h2 {
		font-size: 2.7em;
		font-weight: 600;
	}
	.home .level-3 p {
		font-size: 2em;
	}
	
	.home .level-4 {
		background: none;
		height: auto;
	}
	
	.home .level-3 ul {
	    padding-left: 14px;
	    font-size: 1.2em;
	}
	.home .level-3 ul li::before {
		margin-right: 7px;
	}

	.home .hline h1 {
	    font-size: 2.7em;
	}
	.home .hline h4 {
		font-size: 1.3em;
	}

	.home .portfolio section {
		width: 100%;
	}
	.home .portfolio-item {
	    border: 5px solid #37be00;
	    height: auto;
	    margin: 2em auto;
	    float: none;
	    max-width: 420px;
	    position: relative;
	    width: 95%;
	}
	.home .portfolio-item h4 {
		font-size: 2em;
	}
	.home .portfolio-item p {
		font-size: 1.2em;
	}
	.home .portfolio-item > div {
	    opacity: 1 !important;
	    padding: 0 4px;
	    position: relative;
	}


	.home .captcha {
		width: 100%;
	}
	.home .captcha div {
	    padding: 0 !important;
	}
	.home .level-5 div.home_form {
		width: 100%;
		min-width: 320px;
	}
	.home .level-5 form .row .row, .home .has-feedback, .home .left-col {
	    padding-bottom: 0!important;
	}
	.home .level-5 form input, .home .level-5 form textarea {
		border: solid 1px #ccc;
	}
	.home .level-5 h1 {
		font-size: 5.6vw;
		text-decoration: none;
		letter-spacing: 0;
	}
	.home .level-5 p {
		font-size: 102%;
	}
	.home .undertabs > div, .home .item-cont.part-2 > div {
		padding: 0;
	}
	.home .home_form input, .home .home_form textarea{
		border:none;
		border-radius:0;
		padding:2.3vw 2vw;
	}
	.home .sumbit {
		margin: 0.9em auto 0 auto!important;
		width: 90%;
	}

	
	.footer .footer-wrapper {width: 100%;}

	.footer ul { 
	    margin: 0 auto;
	    max-width: 100%;
	    padding: 1em 0;
	    width: 16em;
	}
	/*-----------------about us -----------------*/
	.about {		
		background: #fff;
	}
	.about hr {
		display: none;
	}
	.about .title, .about .title > div {
	    margin: 0;
	    padding: 0;
	}
	.about .title h1 {
	    background: #37be00;
	    color: #012966;
	    line-height: 4em;
	}
	.about .row.content {
		width: 100%;
		max-width: 100%;
	}
	.about .item-container {
		width: 100%;
		text-align: justify;
		padding: 4%;
		margin: 6px auto;
		border: 5px solid #37be00;
	}
	.about h3 {
	    color: #012966;
	    font-size: 8vw;
	    text-align: center;
	}
	.about h1 {
		font-size: 310%;
		color: #444;
	}

	.about p{
		font-size: 3.5vw;
		padding: 0 1%;
	}
	.about .touch { 
		padding: 0.3em 0;
    	text-align: center;
    	width: 100%;
	}
	.about .hover p {
		color: #999;
	}
	.about .item-container p a {
		text-decoration: underline;
	}

	/*----------------- contact -----------------*/
	
	
	.g-recaptcha {
		position: relative;
		width: 302px !important;
		margin: 0 auto;
		
	}
	.g-recaptcha > div > div {
		position: relative;
		width: 100%!important;
		margin: 0 auto;
	}

	.icon {
	    display: block;
	    float: left;
	    margin-left: 4vw;
	}
	.icon > a {
	    font-size: 7.6vw;
	    padding: 11px 0 11px 44px;
	    width: 100%;
	}

	
	
}