@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,800,400);
@font-face {font-family:"Harabara";src:url("../fonts/Harabara.eot?") format("eot"),url("../fonts/Harabara.woff") format("woff"),url("../fonts/Harabara.ttf") format("truetype"),url("../fonts/Harabara.svg#") format("svg");font-weight:normal;font-style:normal;}
*, a {
	color: #999;
	font-family: "Trebuchet MS";
}

html {
	min-width: 320px;
	min-height: 100%;

	position: relative;
}
.overflow-x {
	overflow-x: hidden;
}
body.fotterbottom {
	margin-bottom: 73px;
}


footer {
	//height: 153px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
footer > div.row {
	
}
div.footer {
	height: 100%;
}

.container-fluid {
	padding: 0;
}
.row {
	margin: 0;
}

/* ==========	 HEADER 	============== */
.home .header {   
    height: 24.5vw;
    position: relative;
}
.home .logo {
    background: url("../img/header.jpg") no-repeat scroll 0 0 / 100% auto;
    height: 20vw;
    position: relative;
}

.header .level-1 {
	border-bottom: solid 1px #888;
}

.header .level-1 div img {
	padding-right: 33px;
	padding-top: 2px;
	width: 17.25vw;	
}
.home .level-2 h1 {
    color: #002866;
    display: block;
    font-family: Trebuchet MS;
    font-size: 2.2vw;
    font-weight: normal;
    left: 6.9vw;
    margin: 0 auto;
    position: relative;
    top: 13vw;
    width: 37%;
}

/* ==========---top menu---=============== */
nav {
    display: block;
    margin: 0 auto!important;
    max-width: 98%;
    width: 1061px;
    background: none !important;
    border: none !important;
}
.navbar-brand {
    margin: 0;
    height: auto;
    padding: 0;
}
.navbar-header {
	margin: 0!important;
}
.navbar-toggle {
	background: #fff;
}
.navbar-toggle:hover {
	background: #eee!important;
}
.fixed-menu {
	width: 100%;
	position: fixed;
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 5px 0 #ccc;
	z-index: 2000;
}
#top_menu {
    font-weight: 600;
    line-height: 445%;
    margin: 0;
    padding-left: 68px;
    text-transform: uppercase;
}
.menu li {
	padding-right:7px;
	padding-left:9px;

}

.menu li:hover {
    border-bottom: 0.23em solid #37be00;
    text-shadow: 1px 0 0 #37be00;
}
.menu li.active {
    border-bottom: 0.23em solid #37be00;
}
li.active > a {
    color: #37be00 !important;
    text-shadow: 1px 1px 0 olive;
}
#top_menu a {
	color: #999;
	font-size:1em;
	letter-spacing: -1;
	font-family: "Trebuchet MS";
	background: none;
	line-height: 32px;
}
#top_menu a:hover {
	text-decoration: none;
}


.footer-hr {
  border-color: #000000;
  border-width: 2px;
  margin: 0 auto;
  width: 77%;
  padding-bottom: 6%;
}

/* ==========--- HOME page content list --- ========= */
h1 {
    color: #012966;
    font-family: harabara;
    font-size: 6em;
    text-transform: uppercase;
    margin-top: 0;
}
h2 {
    font-size: 1.9vw;
    font-family: "Trebuchet MS";
}
.home h4 {
	color: #012966;
 	font-family: "Trebuchet MS";
    font-size: 1.7em;
}


div > a {
	color: #5D5F64;
	font-weight: bold;
}

.home .level-3 {
    box-sizing: border-box;   
    margin: 0 auto;
    max-width: 83vw;
    width: 100%;
    padding: 0 22px;
}   
.home .level-3 h3 {
    color: #012966;
    font-family: Harabara;
    font-size: 3em;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.home .level-3 .green_arrow {
    color: #37be00;
    font-family: harabara;
    font-size: 2em;
    font-weight: 900;
    position: absolute;
    right: -5px;
    top: 0;
}
.home .level-3 p {
	font-size: 1.3vw;
}
.home .level-3 ul li::before {
    content: ">";
    font-weight: 900;
}
.home .level-3 ul li {
    list-style: outside none none;
    font-size: 1.3vw;
}
.home .level-3 ul li a {
    color: #37be00;
    font-weight: 600;
    font-size: 1.3vw;
}
/* ---- PORTFOLIO ---------- */
.home .portfolio section {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 87vw;
}
.home .portfolio-item {
    border: 5px solid #37be00;
    float: left;
    height: 25vw;
    margin: 1.5vw 0 1.5vw 3vw;
    position: relative;
    width: 25vw;
    cursor: pointer;
}
.home .portfolio-item:hover {
	box-shadow: 0 0 2px 2px #37be00 inset;
}
.home .portfolio-item > div {
    position: absolute;
    top: 33%;
    opacity:0;
    padding: 0 4px;
}
.home .portfolio-item > div:hover {
	visibility: visible;
}
.home .portfolio-item > img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
.home .portfolio-item h4 {
    font-family: harabara;
    text-align: center;
    font-size: 2.3vw;    
}
.portfolio-item p {
    font-size: 1.4vw;
    text-align: center;
    word-wrap: break-word;    
}

.home .hline {
    border-top: 2px solid #ccc;
    margin-top: 1.5em;
    padding-top: 2.5em;
}
.home .level-5.hline {
    margin-bottom: 2em;
}
.home .level-5 div.home_form {
    border: 15px solid #37be00;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 3em;
    width: 81vw;
}
.home .level-5 h1 {
    font-family: harabara;
    font-weight: normal;
    padding: 4% 0 0;
    text-align: center;
    text-transform: none;
}
.home .level-5 p {
    color: #012966;
    font-size: 2.2vw;
    text-align: center;
}

.g-recaptcha div {
	margin: 0 auto;
}

.captcha div {
	padding-bottom: 0% !important;
}

.home .captcha {
	margin-top: 0%;
	width: 1090px;
}

.home .level-5 form {
	padding-top: 4%;
}

.home .home_form input, .home .home_form textarea {
    border: 2px solid #a3a6aa;
    border-radius: 0;
    height: auto;
    padding: 18px 15px;
}
.home textarea {
	height: 234px!important;
}
.home .sumbit {
    background: #012966 none repeat scroll 0 0;
    border-radius: 40px;
    color: #fff;
    display: block;
    font-family: harabara;
    font-size: 2em;
    margin-top: 5px;
    padding: 14px;
    text-align: center;
    width: auto;
    cursor: pointer;
}
.home .captcha .right {
    padding-left: 0;
}
.home .captcha .has-feedback {
	padding-left: 29px;
}

.home .level-5 form div.row div {
	padding-bottom: 1em;
}
.has-feedback .form-control-feedback {
	top: 0;
	right: 13px;
	color: red;
	visibility: hidden;
}



/* ==========-------------------A B O U T  U S----------------------------=============== */
.about-wrap {
	background:url("../img/aboutus_bg.jpg") no-repeat fixed center top / 100% 100%;
}







.about .touch {
    border: 1px solid #012966;
    border-radius: 48px;
    color: #012966;
    display: block;
    font-family: harabara;
    font-size: 2em;
    font-weight: 100;
    margin: 3vw auto 0;
    padding: 0.7em 4em;
    width: 12.8em;
}
.about h1, .contact h1 {
    color: #012966;
    font-size: 6em;
    font-weight: 100;
    text-align: center;
    text-transform: none;
}

.about hr {
    border: 3px solid #37be00;
    margin-top: 0;
    width: 8em;
}
.about .item-container {
    background: rgba(255, 255, 255, 0.7);
    border: 7px solid #37be00;
    box-sizing: border-box;
    min-height: 18vw;
    margin: 16px auto;
    width: 47%;
    padding: 4%;
    width: 99%;
    text-align: center;
}
.about .hover p {
    color: #fff;
}
.about .hover h3, .about h3, .about p a {
    color: #012966;
}
.about h3 {
    font-family: harabara;
    font-size: 1.9vw;
}
.about p {
    font-size: 1.2vw;
}
.about p a {
    text-decoration: underline;
}



#push-about {
	height: 20px;
}
.about .row.content {
    margin: 0 auto;
    max-width: 65%;
    width: 63vw;
}

.about .header-hr {
	width: 25%;
}
.about .red_button {
	margin:3.8% auto 7%;
	width: 30%;
}
footer.about {
	height: 147px;
}
/* ==========-------------------C O N T A C T----------------------------=============== */

.contact .hline {
    border-top: none;
}
.row.level-1.fmenu.default {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 0 4px;
}
.row.icons {
    margin: 0 auto;
    width: 82vw;
    
}
.icon {
    display: block;
    float: left;
    margin-left: 0.2%;
    text-align: center;
    width: 24.8%;
}
.icon > a {    
    font-size: 1.6vw;
    padding: 11px 0 11px 44px;
}
.icon i {
    display: block;
    font-size: 0.9vw;
    margin-top: -6px;
    padding-left: 4.7vw;
}
.icon.tel > a {
    background: url("../img/icon-tel.png") no-repeat scroll left center;
}
.icon.fax > a {
    background: url("../img/icon-fax.png") no-repeat scroll left center;
}
.icon.mob > a {
    background: url("../img/icon-mob.png") no-repeat scroll left center;
}
.icon.msg > a {
    background: url("../img/icon-msg.png") no-repeat scroll left center;
}
/* ==========---footer---=============== */

.footer {
	background: #012966 ;
	padding: 0.4% 0 0;
}
.footer  ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 1em 0 0.4em;
    width: 16em;
}
.footer li {
    border-right: 2px solid;
    display: inline;
    list-style: outside none none;
    padding-left: 0.4em;
    padding-right: 0.8em;
    font-weight: 600;
    color: #fff;
}
.footer li a {
	color: #fff;
}
.footer li:last-child {
	border: none;
}


	/* =========     helpers       ========== */
	
	.b {
		font-weight: bold;
	}
	.pad-10 {
		padding: 10px;
	}
	.pad-20 {
		padding: 20px 0;
	}
	.pad-50 {
		padding: 50px 0;
	}

	.fs-17 {
		font-size: 17px;
	}
	.no_margin {
		margin: 0;
	}
	.no_padding {
		padding-left: 0;
		padding-right: 0;
	}

	img.text-center {
		margin: 0 auto;
		display: block;
	}


